.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 150px;
}
.hederbuton{
   display: flex;
   gap: 30px;
}
.cuns{
    background-color: blue;
    border-radius: 15px;
    color: aliceblue;
    padding: 10px 5px;
    border-color: aliceblue;
}
.VAKBAN{
    position: relative;
}
.VAKBAN img{
    width: 100%;
}
.VALVE{
    width: 500px;
    position: absolute;
    color: aliceblue;
    left: 1%;
    top: 100px;
}
.WERS{
    position: relative;
}
.Kaska{
    position: absolute;
    left: 40%;
    top: 150px;
    width: 200px;
    }
.sss{
background-color: blue;
    border-radius: 15px;
    color: aliceblue;
    padding: 10px 5px;
    border-color: aliceblue;
}
.ss{
    position: relative;
}
.ccc{
position: absolute;
top: 500px;
right: 45%;
}
.awg{
display: flex;
 gap: 20px;
 justify-content: center;
 padding: 10px;


}
.column{
flex: 1;
background-color: aliceblue;
padding: 20px;
border: 1px;
text-align: center;
}
